.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.large-screen-only {
    display: none !important;
}

@media (min-width: 992px) {
    .large-screen-only {
        display: block !important;
    }
}
.small-screen-only {
    display: none !important;
}

@media (max-width: 991.5px) {
    .small-screen-only {
        display:block !important;}}
